@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-main;
  }
}

:root {
  --boltColor: #030303;
  --zapColor: #ffaffa;
  --sparkColor: #4af3bb;
}

@layer components {
  .gradient-time {
    background: linear-gradient(
      to right,
      var(--boltColor),
      var(--zapColor),
      var(--sparkColor)
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
